.list {
  margin-top: 1%;
}

input {
   margin-left:11%;
   margin-right: 11%;

}

input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  -webkit-appearance: none;
  background: #2D2D2D;
  border: 2px solid white;
  border-radius: 2.8px;
}

input:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16H2V2H12V0H2C0.89 0 0 0.89 0 2V16C0 16.5304 0.210714 17.0391 0.585786 17.4142C0.960859 17.7893 1.46957 18 2 18H16C16.5304 18 17.0391 17.7893 17.4142 17.4142C17.7893 17.0391 18 16.5304 18 16V8H16M4.91 7.08L3.5 8.5L8 13L18 3L16.59 1.58L8 10.17L4.91 7.08Z' fill='%23F9D1D1'/%3E%3C/svg%3E%0A");
  border: none;
}