.div {

    &__1 {
        margin-top: 18px;
        margin-left: 20px;
        font-family: 'Raleway';
    }

    &__1__img {
        margin-left: 120px;
    }

    &__1__img__2 {
        margin-left: 180px;
    }

    //---------------------------------------------
    
    &__2 {
        margin-top: 18px;
        margin-left: 1.5%;
        font-family: 'Raleway';
    }

    &__2__img {
        margin-left: 6%;
        
    }

    &__2__img__2 {
        
        margin-left: 13%;
        
    }
}